# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/infra/.terraform
/infra/.terraform.lock.hcl
/infra/terraform.tfstate
/infra/terraform.tfstate.backup

/functions/create_meal/bin
/functions/create_meal/certifi
/functions/create_meal/certifi-2023.7.22.dist-info
/functions/create_meal/charset_normalizer-3.3.0.dist-info
/functions/create_meal/charset_normalizer
/functions/create_meal/idna
/functions/create_meal/idna-3.4.dist-info
/functions/create_meal/requests
/functions/create_meal/requests-2.31.0.dist-info
/functions/create_meal/urllib3
/functions/create_meal/urllib3-1.26.7.dist-info
/functions/create_meal/urllib3-2.0.6.dist-info/

/functions/get_meals/bin
/functions/get_meals/certifi
/functions/get_meals/certifi-2023.7.22.dist-info
/functions/get_meals/charset_normalizer-3.3.0.dist-info
/functions/get_meals/charset_normalizer
/functions/get_meals/idna
/functions/get_meals/idna-3.4.dist-info
/functions/get_meals/requests
/functions/get_meals/requests-2.31.0.dist-info
/functions/get_meals/urllib3
/functions/get_meals/urllib3-1.26.7.dist-info
/functions/get_meals/urllib3-2.0.6.dist-info/