@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root{
  --off-white: #F8F8F8;
  --greyish-white: #EBEBEB;
  --reddish: #EB9494;
  --blueish: #80A3D1;
  --darkgrey: #545454;
  --grey: #A6A6A6;
  --lightgrey: #D9D9D9;
  --bluishgrey: #BCCCCD;
  --blackish: #303030;
  --darkgrey: #403E3E;
  --lighterdarkgrey: #4D4C4C;
  --darkborder: #545454;
}

.App {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  background: white; 
}

.App.dark, .ingredients-container.dark{
  background: var(--blackish);
}

.meal-container.dark, .recipe-card.dark{
  background: var(--blackish);
  border: none;
  box-shadow: none;
}

.main-container.dark, .sidebar-container.dark, .creator-window.dark{
  background: var(--darkgrey);
}

.main-container .header.dark, .search-bar.dark, .ingredient.dark, .create-weeks-meals-btn.dark, .add-button.dark, .app-mode.dark{
  background: var(--lighterdarkgrey);
}

.paragraph.dark, .create-weeks-meals-btn.dark, .add-button.dark{
  color: white;
}

h3, h2, h1, p, input, label{
  margin: 0;
  padding: 0;
}

.dark select{
  color: white;
  background: var(--blackish);
  border: var(--blackish);
}

.dark h3, .dark h2, .dark h1, .dark p, .dark input, .dark label, .icon.dark{
  color: white;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 5rem);
  width: 100%;
}

.no-meals{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Container */
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-container h1{
  margin-bottom: 1rem;
}

.login-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.login-container img{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
}

/* Header styles */
.app-header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header .left-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 12rem;
}

.app-header .left-container h1{
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}

.right-container{
  padding: 0 2rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-mode{
  width: 2rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background: var(--lightgrey);
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
}

.choice-circle{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: var(--grey)
}

.right-container p{
  margin-right: 1rem;
}

.logout-icon{
  cursor: pointer;
}

.logout-icon.dark{
  color: white;
}

/* Sidebar styles */
.sidebar-container{
  width: 20%;
  height: 100%;
  background: var(--off-white);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-inside-container{
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-button{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--lightgrey);
  opacity: 0.8;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar{
  background: var(--greyish-white);
  height: 2.5rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  border-radius: 1rem;
  min-height: 2.5rem;
}

.search-input{
  border: None;
  background: None;
  width: 100%;
  margin-left: 0.5rem;
}

.enteries-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-bar p{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.meal-container{
  height: fit-content;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  background: white;
  border: 1px solid var(--greyish-white);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 0;
  cursor: pointer;
}

.meal-container:first-child{
  margin-top: 0.8rem;
}

.colored-identifier{
  height: 70%;
  width: fit-content;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.circle{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.text-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 0.5rem 0 0;
}

.text-container p{
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.text-container span{
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--grey);
}

/* Main container */
.main-container{
  width: 79%;
  height: 100%;
  background: var(--off-white);
  border-radius: 0.5rem;
  overflow-y: auto;
}

.main-container.full-screen{
  width: 100%;
}

.main-container .header{
  background: var(--greyish-white);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .header h2{
  font-weight: 400;
  margin-left: 2rem;
}

.recipes-list{
  display: flex;
  margin: 20px;
  width: auto;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column{
  flex-basis: 15rem;
  flex-shrink: 1;
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.recipe-card{
  box-shadow: rgba(126, 127, 127, 0.1) 0px 6px 10px;
  background: white;
  border-radius: 0.5rem;
  height: fit-content;
  margin-bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2rem; 
}

.recipe-text{
  width: 100%;
}

.recipe-text h3{
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.recipe-text p{
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--grey);
}

/* Creator Container */
.creator-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.386);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.creator-window{
  width: 60%;
  height: 60%;
  background: white;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  position: relative;
}

.creator-window h2{
  font-weight: 400;
}

.close-button{
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.creator-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.creator-form .col.left{
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 1rem 3rem;
}

.creator-form .col{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 1rem 3rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.date-input{
  width: 90%;
  padding: 0.5rem;
}

.drop-down-input{
  width: 100%;
  padding: 0.5rem;
}

.drop-down-input:focus{
  outline: none;
}

.ingredients-container{
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--off-white);
}

.ingredients-list{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start !important;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: auto;
}

.ingredient{
  height: fit-content;
  border-radius: 0.5rem;
  background: var(--bluishgrey);
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.ingredient-name{
  font-size: 0.8rem;
}

.ingredient-delete{
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.search-input.dark, .search-input.dark::placeholder{
  color: white;
}

.search-input:focus{
  outline: none;
}

.create-weeks-meals-btn{
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  background: var(--lightgrey);
  opacity: 0.8;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries */

@media screen and (max-width: 860px){


  .creator-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .creator-form .col{
    width: 80%;
    padding: 1rem 3rem 1rem 3rem;

  }

  .ingredients-container{
    height: 10rem;
    margin-top: 1rem;
  }

  .creator-form .col.left{
    width: 40%;
    height: fit-content;
    padding: 2rem 3rem 0 3rem;
  }

}

.meal-recipe{
  overflow-y: auto;
  width: 90%;  
}

.meal-recipe div{
  margin-bottom: 1rem;
}

.meal-recipe .paragraph.second{
  font-size: 1.2rem;
  font-weight: 600;
}


.meal-recipe .paragraph.third{
  font-size: 0.9rem;
  color: var(--grey);
  margin-bottom: 1.5rem;
}

.meal-recipe .paragraph.third p{
  margin-bottom: 0.7rem;
}


.meal-recipe .paragraph.fourth{
  font-size: 0.9rem;
  line-height: 1.4rem;
}